// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;

// PYST COLORS
$orange: #DF6C4F;
$salmon: #FF9398;
$light-gray: #E1E1E1;
