<h1>Bought items</h1>
<%= @product.last.name %>
<%= @user.last %>
<%# <% raise %>

<!-- Product #1 -->
<div class="quantity">
  <button class="minus-btn" type="button" min="0" name="button"></button>
  <input type="text" value="0" id="input" />
  <button class="plus-btn" type="button" name="button"></button>
</div>

<!-- Product #2 -->
<div class="quantity">
  <button class="minus-btn" type="button" name="button"></button>
  <input type="text" value="0" id="input" />
  <button class="plus-btn" type="button" name="button"></button>
</div>

<!-- Product #3 -->
<div class="quantity">
  <button class="minus-btn" type="button" name="button"></button>
  <input type="text" value="0" id="input" />
  <button class="plus-btn" type="button" name="button"></button>
</div>


