
<h3>Manage your tasks</h3>
<div class="d-flex align-items-center flex-column">
  <%= link_to new_group_task_path do %>
    <i class="fa-solid fa-square-plus fa-2xl" style="color:#DF6C4F" class="align-center"></i>
  <% end %>



  <p>Upcoming </p>
    <%= render "shared/card_tasks_up_index" %>

  <p>Backlog</p>
    <%= render "shared/card_tasks_back_index" %>

 </div>
