<h3>Tasks</h3>


<ul>
  <% @tasks.each do |task| %>
    <li><%= task.name %></li>
    <li><%= task.deadline %></li>
    <li><%= task.assigned_to_id %></li>

  <% end %>
</ul>




<%= link_to "Create new Task", new_group_task_path %>
