<h1 class="title mt-5">TASKS</h1>





    <div class="show-tasks-wrapper">

        <%# <div class="card-show-d"><%= render "shared/current_user_index_avatar" %>
        <%# <div class="card-show-b"><%= @task.deadline.strftime("%d.%m.%Y") %></div>



    </div>




      <div>
        <%= link_to "See all tasks", group_tasks_path, :class => "btn btn-primary" %>
      </div>
