.new-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.container-banner{
  position: relative;
  // margin-left: 40px;
  // display: flex;
  // justify-content: center;
  width: 300px;
  height: auto ; //300px;
  border: 1px solid orange;
  margin-bottom: 43px;
  background-color: #FF9398;
  // flex-direction: column;
  border-radius: 10px;
}
.banner-item{
  //position: absolute;
  width: 75vw;
  // height: 10vh;
  border: 1px solid red;
}

.banner-buttons{
  //position: absolute;
  width: 75vw;
  font-size: 10px;
  border: 1px solid green;
  display: flex;
  justify-content: right;
}
.icon-placeholder{
  text-align: right;
}
