

  <h3 class="title mt-5 mb-4">My Groups</h3>
  <div class="mt-5 mb-5" style="width: 100%; text-align:center">
  <%= link_to new_group_path do %>
        <i class="fa-solid fa-square-plus fa-2xl" style="color:#23c560; text-align:center; font-size:50px"></i>
  <% end %>
  </div>


    <div class="group-grid">
      <%= render "group_card" %>
    </div>
