<ul>
  <% @groups.each do |group| %>
    <li><%= group.name %></li>
    <li><%= group.description %></li>
    <%= cl_image_tag @group.avatar.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ul>

<%= link_to "Create new Group", new_group_path %>
