<h3>Expense Manager</h3>

<div class="d-flex align-items-center flex-column">
  <%= link_to new_group_fixed_cost_path do %>
    <i class="fa-solid fa-square-plus fa-2xl" style="color:#DF6C4F" class="align-center"></i>
  <% end %>

<h5>Individual Contributions</h5>
  <div>
    <% @fixed_costs.each do |cost| %>
      <div class="card-fixed-costs-individual-contributions">
        <div class = "card-name"><%= cost.name %></div>
        <div><%= cost.price %></div>
        <div><%= cost.user_id %></div>
      </div>
    <% end %>

<h5>General Costs</h5>
