
  <div class="title mt-5 mb-3">
    <h1>Overview</h1>
  </div>
  <div class="center-frames">
    <div class="frames mt-5 mb-2">
    <%= link_to "Task Manager", group_tasks_path(:group_id) %>
    </div>
    <div class="frames mb-2">
    <%= link_to "Shopping List",  group_shopping_lists_path(:group_id)%>
    </div>
    <div class="frames">
      <%= link_to "Expense Manager", group_fixed_costs_path(:group_id) %>
    </div>
  </div>
