
      <div class="plus-wrapper">
        <%# <%= link_to group_bought_items_path do %>
        <%= link_to pre_selection_group_shopping_lists_path(@group, shopping_list: @shopping_list)  do %>
          <i class="fa-solid fa-square-plus fa-2xl" style="color:#23c560; text-align:center; font-size:50px"></i>
         <% end %>
      </div>


<ul>
  <% @bought_items.each do |bought_item| %>
    <%= bought_item.product.name %>
  <% end %>
</ul>



<%# <%= image_tag 'icons/milk.svg', width: 25, height: 25 %>
<%# collection: @product.map {|product|
            #    [product.name,product.id,
            #    image_tag:url(#{image_path "icons/#{product.name.downcase}.svg"})"]}%>
