<h1>Shoppings index</h1>
<div class="frame-index">

<%= simple_form_for :category, url: new_group_shopping_list_path(), method: :get do |f| %>

  <%= f.input :category,
            as: :check_boxes,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector', multiple: true },
            collection: @product %>

<%=f.submit "Check Basket", :class => 'btn btn-outline-dark'%>

<% end %>


</div>
