<h1>Shoppings index</h1>

<%= simple_form_for :user do |f| %>

  <%= f.input :category,
            as: :check_boxes,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector', multiple: true },
            collection: @product %>

<% end %>
